In [33]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")

In [34]:
driver=webdriver.Chrome(r"C:\Drivers\webdriver//chromedriver.exe")

In [35]:
url='https://www.olx.in/cars_c84'
driver.get(url)

In [36]:
brand=[]
price=[]
year=[]
location=[]

In [ ]:
for i in range(0,50):
    
    brand_tags=driver.find_elements_by_xpath('//div[@class="_4aNdc"]')                                                                                                                                                                                                  
    for i in brand_tags:
        brand.append(i.text)
     
    p=driver.find_elements_by_xpath('//span[@class="_3GOwr"][1]')  
    for i in p:
        price.append(i.text)

    y=driver.find_elements_by_xpath('//div[@class="KFHpP"]')
    for i in y:
        year.append(i.text)
    
    loc=driver.find_elements_by_xpath('//div[@class="_1zvfB"]')
    for i in loc:
        location.append(i.text)

In [47]:
#Creating a dataframe and checking the data extracted
olx=pd.DataFrame({'NAME':brand[0:5000],'YEAR WITH TOTAL KMS':year[0:5000],'SELLING PRICE':price[0:5000],'LOCATION with DATE':location[0:5000]})

In [48]:
olx

,NAME,YEAR WITH TOTAL KMS,SELLING PRICE,LOCATION with DATE
0,Volkswagen Vento,"2021 - 22,000 km","₹ 4,70,000",Himayat Nagar\nJul 31
1,Maruti Suzuki Alto 800,"2019 - 40,000 km","₹ 2,18,211",Nungambakkam\n3 days ago
2,Hyundai Santro,"2010 - 94,000 km","₹ 5,45,560",Nauroji Nagar\nJul 31
3,Mitsubishi Pajero,"2016 - 67,000 km","₹ 4,50,000",Seawoods\nToday
4,Hyundai EON,"2021 - 32,000 km","₹ 2,90,000",Seawoods\nToday
...,...,...,...,...
4995,Mercedes-Benz B Class,"2015 - 55,000 km","₹ 1,03,000",Dhakuria South East\nToday
4996,Maruti Suzuki Alto 800,"2009 - 170,000 km","₹ 4,65,000",Mulund West\nToday
4997,Maruti Suzuki Wagon R,"2012 - 82,000 km","₹ 2,80,000",Jadavpur\nToday
4998,Tata Indica Ev2,"2018 - 47,000 km","₹ 19,75,000",Dhakuria South East\nToday
4999,Maruti Suzuki Vitara Brezza,2017 - 52000.0 km,"₹ 4,22,000",Borivali West\nMay 04